// ------------------------------------------
// VARIABLES
// ------------------------------------------

// COLORS
$header-font-color = #888
$color1 = #086375
$color2 = #1DD3B0
$color3 = #35012C
$color4 = #AFFC41
$color5 = #B2FF9E


// SIZES
$nav-height = 30px

// ------------------------------------------
//  MIXINS
// ------------------------------------------
media_queries = {
  mobile  : "only screen and (max-width: 600px)",
  tablet  : "only screen and (min-width: 601px) and (max-width: 800px)",
  desktop : "only screen and (min-width: 801px) and (max-width: 1200px)"
  wide    : "only screen and (min-width: 1201px)"
}

for_breakpoint(breakpoints)
  conditions = ()
  for breakpoint in breakpoints
    push(conditions, media_queries[breakpoint])
  conditions = join(", ", conditions)
  @media conditions
    {block}


vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

transition()
  vendor('transition', arguments)

transform()
  vendor('transform', arguments)

transform-origin()
  vendor('transform-origin', arguments)

user-select()
  vendor('user-select', arguments)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
  background-color startColor
  if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
    background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

// ------------------------------------------
// GENERAL
// ------------------------------------------

html, body
  margin 0
  padding 0
  background #eee

html, body, h1, h2, h3, h4, h5, a, p, li, b, input, textarea, label, a
  font-family "Maven Pro"
  
div, input, textarea, li
  box-sizing border-box

h1
  font-size 2em
  color $header-font-color
  


// ------------------------------------------
// GENERAL
// ------------------------------------------


header
  background $color3
  position relative
  
  nav, #logo
    display inline-block
    
  
  #logo 
    font-size 1.5em
    color #fff
    padding ($nav-height/2)
    font-family "raleway"
    .work
      font-weight bold
      color $color2
    
  nav 
    float right
    position absolute
    top 50%
    right 0
    transform translate(0%, -50%)
    ul 
      margin 0
      li 
        list-style none
        display inline
        padding 20px
        a
          text-decoration none
          color #eee
          text-transform uppercase
          font-weight bold
    .signin a
      background $color4
      color $color3
      border-radius 20px
      padding 3px 10px 4px 10px
      margin-right -5px
// ------------------------------------------
// JOBS
// ------------------------------------------

#filters
  width 100%
  background $color1
  float left
  padding 15px
  color #fff

  +for_breakpoint(mobile tablet)
    height 63px
    overflow hidden
    
  .additional
    height 0
    overflow hidden
    
  .search
    padding 7px 10px
    font-size 1em
    border-radius 3px
    border 0
    width 100%
    
#job-board 
  margin 0
  padding 1%
  float left
  width 100vw
  box-sizing border-box
  
  
  .job-post
    list-style none
    float left
    
    background #fff
    border-bottom 1px solid #eee
    border-right 1px solid  #eee
    width (94/4)%
    margin .8% .5%
    min-height 150px
    
    transition box-shadow .3s ease-out, margin .3s ease-out
    

    &:hover
      box-shadow 4px 8px 15px rgba(0,0,0,.2)
    
    +for_breakpoint(desktop)
      width (96/3)%
      
    +for_breakpoint(tablet)
      width (98/2)%
    
    +for_breakpoint(mobile)
      width 98%

    
  .title
    margin 0
    padding 10px
    background $color1
    color #fff
    
  .description
    padding 10px 15px
    font-size .9em
    line-height 1.5em
    
  .information
    height 0
    overflow hidden

  // Optical fix for tags (probably because of colour contrasts)
  .tag
    padding 1px 9px 3px 9px
    font-size .9em

.tag
  display inline
  background $color2
  color #000
  margin 0 7px 0 -3px
  padding 2px 9px 2px 9px
  border-radius 30px