<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="css/style.min.css">
    <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->


</head>
<body>
    <header>
        <div id="logo">
            <span class="refugees">REFUGEES</span><span class="work">WORK</span>
        </div>
        <nav>
            <ul>
                <li class="signin"><a href="/">Register</a></li>
                <li class="login"><a href="/">Login</a></li>
                <li><a href="/">Mission</a></li>
                <li><a href="/">Jobs</a></li>
            </ul>
        </nav>
    </header>
    
    <div id="app">
        <div id="filters">
            <input v-model="search" class="search" placeholder="Filter posts">
            <h3>Location</h3>
            <div class="tag" v-on:click="filter('berlin')">Berlin</div><br>
            <h3>Time</h3>
            <h3>Location</h3>
            <h3>Location</h3>
            <h3>Location</h3>
        </div>
        <ul id="job-board">
            <li class="job-post" v-for="post in posts | filterBy search">
                <h3  class="title">{{ post.title | truncate 60 }}</h3>
                <div class="description" v-if="post.description">{{ post.description | truncate character_limit }}</div>
                <div class="tag"         v-if="post.country">{{ post.country }}</div>
                <div class="tag"         v-if="post.area">{{ post.area }}</div>
                <div class="tag"         v-if="post.time">{{ post.time }}</div>
            </li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
    <script src="https://npmcdn.com/vue@latest/dist/vue.js"></script>
    <script src="js/bundle.min.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
</body>
</html>